<!--category-productsr-->
<div class="panel panel-default" th:each="cartDetail:${cart} != null ? ${cart.cartDetailVOs}"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a th:href="${'#cart' + cartDetail.sku}">
                        <span class="badge pull-right">
                        </span><span th:text="${cartDetail.skuName}"></span><span class="pull-right"
                                                                         th:text="${'￥' + cartDetail.skuAmount}"></span></a>
        </h4>
    </div>
    <div th:attr="id=${'cart' + cartDetail.sku}">
        <div class="panel-body">
            <ul>
                <li>
                    <div class="row">
                        <span th:text="${'条码:' + cartDetail.sku}"></span><span class="pull-right"
                                                                      th:text="${'规格:' + cartDetail.specName}"></span>
                    </div>
                    <div class="row">
                        <span th:text="${'数量:' + cartDetail.skuCount}"></span><span class="pull-right"
                                                                           th:text="${'单价:￥' + cartDetail.price}"></span>
                    </div>
                    <div class="row">
                        <a class="btn btn-danger" th:href="${'cart/delete/' + cartDetail.sku}">删除</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <a href="cart" class="pull-right cart-settle">去结算</a>
</div>