<!--category-productsr-->
<div class="panel panel-default" th:each="cartDetail:${cart} != null ? ${cart.cartDetailVOs}" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" th:href="${'#' + cartDetail.id}">
                        <span class="badge pull-right">
                          <i class="fa fa-plus"></i>
                        </span><i th:text="${cartDetail.skuName}"></i><i class="pull-right"
                                                                         th:text="${'￥' + cartDetail.skuAmount}"></i></a>
        </h4>
    </div>
    <div th:attr="id=${cartDetail.id}" class="panel-collapse collapse">
        <div class="panel-body">
            <ul>
                <li>
                    <div class="row">
                        <i th:text="${'条码:' + cartDetail.sku}"></i><i class="pull-right"
                                                                      th:text="${'规格:' + cartDetail.specName}"></i>
                    </div>
                    <div class="row">
                        <i th:text="${'数量:' + cartDetail.skuCount}"></i><i class="pull-right"
                                                                           th:text="${'单价:￥' + cartDetail.price}"></i>
                    </div>
                    <div class="row">
                        <a class="btn btn-default" th:href="${'cart/delete/' + cartDetail.id}">删除</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <button class="btn btn-danger pull-right">结算</button>
</div>