<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="header"></div>
    <link href="css/bootstrap-datepicker.min.css" rel="stylesheet"/>
</head>
<body>
<header id="header">
    <!--header-->
    <div class="header_top">
        <!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="social-icons">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="#">
                                    <i class="fa fa-phone"></i>400 0000 000</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-envelope"></i>info@domain.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="profile">
                                    <i class="fa fa-user"></i></a>
                            </li>
                            <li>
                                <a href="cart">
                                    <i class="fa fa-shopping-cart"></i></a>
                            </li>
                            <li><a th:href="${session.username} != null ? @{logout} : @{login}"><i
                                    th:class="${session.username} != null ? @{fa fa-unlock} : @{fa fa-lock}"></i><span
                                    th:text="${session.username} != null ? ${session.username}"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/header_top-->
    <div class="header-middle">
        <!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="index.html">
                            <img src="images/home/logo.png" alt=""/></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--/header-->
<section id="form" style="margin-top: 0px;margin-bottom: 10px;"><!--form-->
    <div class="container">
        <div class="shopper-info col-sm-4"><!--sign up form-->
            <p>基础信息</p>

            <form action="customer/updateMe" method="post">
                <div class="row" style="line-height: 3.7">
                        <span class="col-sm-2">
                            <input type="radio" class="radio" style="display: inline" name="sex" value="M"
                                   th:checked="${me.sex} == 'M' ? @{checked}"/> 男
                        </span>
                        <span class="col-sm-2">
                            <input type="radio" class="radio" style="display: inline" name="sex" value="F"
                                   th:checked="${me.sex} == 'F' ? @{checked}"/> 女
                        </span>
                </div>
                <input type="text" placeholder="生日" id="birthday" name="birthday"
                       th:value="${me.birthday}"/>
                <input type="email" placeholder="邮箱" name="email" th:value="${me.email} != null ? ${me.email}"/>
                <input type="text" placeholder="电话" name="phone" th:value="${me.phone} != null ? ${me.phone}"/>
                <input type="text" placeholder="微信" name="wechat" th:value="${me.wechat} != null ? ${me.wechat}"/>
                <input type="text" placeholder="上级经销商" name="upCode"
                       th:value="${me.upCode} != null ? ${me.upCode}"/>
                <input type="text" placeholder="销售员" name="saler" th:value="${me.saler} != null ? ${me.saler}"/>
                <button type="submit" class="btn btn-primary">保存</button>
            </form>
        </div>

        <div class="shopper-info col-sm-4"><!--sign up form-->
            <p>收货地址</p>

            <div id="addresses"></div>
            <form action="customer/saveAddr" method="post">
                <input type="hidden" name="id" id="addrId"/>
                <input type="text" placeholder="收件人" name="recipient" id="recipient"/>
                <input type="text" placeholder="地址" name="addr" id="addr"/>
                <input type="text" placeholder="电话" name="phone" id="phone"/>
                <button type="submit" class="btn btn-primary">保存</button>
            </form>
        </div>
        <div class="shopper-info col-sm-4"><!--sign up form-->
            <p>店铺信息</p>

            <div id="shopInfos"></div>
            <form action="customer/saveShop" method="post" enctype="multipart/form-data">
                <input type="hidden" name="id" id="shopId"/>
                <input type="text" placeholder="店铺名称" name="shopName" id="shopName"/>
                <input type="text" placeholder="店铺地址" name="shopAddr" id="shopAddr"/>
                <input type="file" placeholder="店铺LOGO" name="file"/>
                <div>
                <input type="checkbox" name="category" id="category" value="1"/>线下
                </div>
                <button type="submit" class="btn btn-primary">保存</button>
            </form>
        </div>
    </div>
</section><!--/form-->
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    店铺图片
                </h4>
            </div>
            <div class="modal-body">
                <img id="shopPic" src=""/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div th:replace="footer"/>
<script src="js/bootstrap-datepicker.min.js"></script>
<script src="locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script type="text/javascript">
    /*<![CDATA[*/
    $(document.body).ready(function () {
        $('#birthday').datepicker({
            format: "yyyy-mm-dd",
            language: "zh-CN"
        });
        loadAddresses();
        loadShopInfos();
    });

    function loadAddresses() {
        $.ajax({
            cache: false,
            type: 'POST',
            url: 'customer/listAddr',
            success: function (response) {
                var addresses = $('#addresses');
                addresses.empty();
                for (var i = 0; i < response.length; i++) {
                    var addr = response[i];
                    var deleteSpan = $('<label/>');
                    deleteSpan.addClass('fa fa-times pull-right');
                    deleteSpan.click((function (param) {
                        return function () {
                            $.ajax({
                                cache: false,
                                type: 'POST',
                                url: 'customer/deleteAddr',
                                data: {id: param.id},
                                success: function () {
                                    loadAddresses();
                                }
                            });
                        }
                    })(addr));

                    var editSpan = $('<label/>');
                    editSpan.addClass('fa fa-pencil-square-o pull-right');
                    editSpan.click((function (param) {
                        return function () {
                            $('#addrId').val(param.id);
                            $('#addr').val(param.addr);
                            $('#recipient').val(param.recipient);
                            $('#phone').val(param.phone);
                        }
                    })(addr));
                    var array = [deleteSpan, editSpan];
                    $(array).each(function () {
                        var me = $(this);
                        me.hover(function () {
                            me.addClass('label-primary');
                        }, function () {
                            me.removeClass('label-primary');
                        });
                    });

                    var ele = $('<h4/>');
                    ele.append(addr.addr).append(" ").append(addr.recipient).append(" ").append(addr.phone).append(deleteSpan).append(editSpan)
                    addresses.append(ele);
                }
            }
        });
    }

    function loadShopInfos() {
        $.ajax({
            cache: false,
            type: 'POST',
            url: 'customer/listShop',
            success: function (response) {
                var shopInfos = $('#shopInfos');
                shopInfos.empty();
                for (var i = 0; i < response.length; i++) {
                    var shop = response[i];
                    var deleteSpan = $('<label/>');
                    deleteSpan.addClass('fa fa-times pull-right');
                    deleteSpan.click((function (param) {
                        return function () {
                            $.ajax({
                                cache: false,
                                type: 'POST',
                                url: 'customer/deleteShop',
                                data: {id: param.id},
                                success: function () {
                                    loadShopInfos();
                                }
                            });
                        }
                    })(shop));

                    var editSpan = $('<label/>');
                    editSpan.addClass('fa fa-pencil-square-o pull-right');
                    editSpan.click((function (param) {
                        return function () {
                            $('#shopId').val(param.id);
                            $('#shopName').val(param.shopName);
                            $('#shopAddr').val(param.shopAddr);
                            if (param.category == '1') {
                                $('#category').attr('checked', true);
                            } else {
                                $('#category').attr('checked', false);
                            }
                        }
                    })(shop));

                    var viewSpan = $('<label data-target="#myModal"/>');
                    viewSpan.addClass('fa fa-eye pull-right');
                    viewSpan.click((function (param) {
                        return function () {
                            $('#shopPic').attr('src', 'ext/' + param.shopPic);
                            $('#myModal').modal({
                                keyboard: true
                            })
                        }
                    })(shop));
                    var array = [deleteSpan, editSpan, viewSpan];
                    $(array).each(function () {
                        var me = $(this);
                        me.hover(function () {
                            me.addClass('label-primary');
                        }, function () {
                            me.removeClass('label-primary');
                        });
                    });

                    var ele = $('<h4/>');
                    ele.append(shop.shopName).append(" ").append(shop.shopAddr).append(deleteSpan).append(viewSpan).append(editSpan)
                    shopInfos.append(ele);
                }
            }
        });
    }
    /*]]>*/
</script>
</body>

</html>